{% stylesheet %}
  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
{% endstylesheet %}

<div class="text-block text-{{ block.settings.alignment }}">
  <a href="{{ block.settings.button_link }}" class="custom-button">
    {{ block.settings.button_text }}
  </a>
</div>

{% schema %}
{
  "name": "Button",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Button Block"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Alignment",
      "default": "center"
    }
  ],
  "presets": [
    {
      "name": "Button"
    }
  ]
}
{% endschema %}